<!DOCTYPE html>
<html>

<head>
    <title></title>

    <link href="stylesheet_ov.css" rel="stylesheet" />
</head>

<body>

    <div class="cnt-0">
        <h1>Conveying Workshop GUI1</h1>
        <div class="cnt-1">
            <h2>Information of the system</h2>
            <div class="workshop" id="wrksh1">
                <h3>Internal state: </h3>
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th>System</th>
                            <th>status</th>
                        </tr>

                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                    </thead>


                </table>
            </div>
            <div class="workshop" id="snt-wrksh-2">
                <h3>Received Info</h3>
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th>System</th>
                            <th>status</th>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                    </thead>


                </table>
            </div>

            <div class="workshop" id="rcv-wrksh-2">
                <h3>Sended Info</h3>
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th>System</th>
                            <th>status</th>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>status1</td>
                        </tr>
                    </thead>


                </table>
            </div>

        </div>
    </div>
</body>

</html>
