{% extends 'base.html' %}

{% block title %} GUI1 {% endblock %}

{% block content %}
    <h1>Conveying Workshop - GUI1 </h1>

    <table id="variables">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>type</th>
            <th>address</th>
            <th>comment</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in variables.items() %}
            <tr id="{{ key }}">
                <td class="key">{{ key }}</td>
                <td class="value">{{ value.value }}</td>
                <td class="type">{{ value.type }}</td>
                <td class="address">{{ value.address }}</td>
                <td class="comment">{{ value.comment }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}


{% block script %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        let socket = io();
        socket.on('update_data', function (data) {
            let jsonData = JSON.parse(data);
            Object.keys(jsonData).forEach((key) => {
                    let value = jsonData[key];
                    let toUp = document.getElementById(key);
                    if(toUp != undefined){
                        toUp.getElementsByClassName("value").item(0).innerHTML = value.value

                    }
                    else {
                        // Add a new line ?
                    }
                }
            )
        });

        setInterval(() => {
            socket.emit('get_update_data');
        }, 1000)   // Ask to update the data all the 1 second, test purpose
    </script>
{% endblock %}