
<table>
<tr>
  <td><table border="1" width="130"><tr><td><b>Energy Consumption</b></td></tr><tr><td height="180"><form action="/action_page.php">
    Electricity: <input type="text" name="Electricity" value=""><br><input type="submit" value="Submit"></form></tr></table>
</td>
  <td><table border="1" width="180"><tr><td ><b>Waste Management</b></td></tr><tr><td height="180"><form action="/action_page.php">
    Broken Pots: <input type="radio" name="Broken Pots:" value="yes">YES<br><input type="radio" name="Broken Pots:" value="no">NO<br><form action="/action_page.php">
    Liquid Spillage: <input type="radio" name="Liquid Spillage:" value="yes">YES<br><input type="radio" name="Liquid Spillage:" value="no">NO<br><input type="submit" value="Submit"></form></tr></table>
</td>
<td>
<table border="1" width="130">
<tr>
<td height="40">
<form action="/action_page.php">Stock of Pots:-<input type="text" name="Stock of Pots" value="">
  <br></tr><tr><td height="80"><form action="/action_page.php">
    Broken Pots: <input type="radio" name="Broken Pots:" value="yes">YES<br><input type="radio" name="Broken Pots:" value="no">NO<br><tr><td height="75"><form action="/action_page.php">
    Size of Pot: <input type="text" name="Size of Pot" value=""><br><input type="submit" value="Submit"></form></tr>
</table>
</td>
</tr>
</table>


</td>
</tr>
</table>